.footer {
  background-color: #102649;
  color: #fff;
  padding: 16px 24px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 16px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: white;
}

/* Responsive */
@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-links {
    gap: 14px;
  }
}